<!-- Chose icon Content -->
<ion-view view-title="Chose icon">
	<ion-header-bar align-title="center" class="bar-positive">
  		<i class="ion-chevron-left" ng-click="choseIcon.back()"></i>
  		<h1 class="title">funpic</h1>
	</ion-header-bar>
    <ion-content class="padding chose-icon">
		<div class="list" >
            <div class="item item-divider">Moustaches</div>
            <ion-checkbox ng-if="item.type == 'mustaches'" ng-repeat="item in choseIcon.data" ng-model="item.checked" ng-checked="item.checked">
            	<img ng-src="{{ item.url }}" id="{{ item.id }}">
            </ion-checkbox>
            <div class="item item-divider">Chapeaux</div>
            <ion-checkbox ng-if="item.type == 'hats'" ng-repeat="item in choseIcon.data" ng-model="item.checked" ng-checked="item.checked" ng-change="choseIcon.disable(item)">
            	<img ng-src="{{ item.url }}" id="{{ item.id }}">
            </ion-checkbox>
            <div class="item item-divider">Lunettes</div>
            <ion-checkbox ng-if="item.type == 'glasses'" ng-repeat="item in choseIcon.data" ng-model="item.checked" ng-checked="item.checked">
            	<img ng-src="{{ item.url }}" id="{{ item.id }}">
            </ion-checkbox>
        </div>
		<div>
			<button class="button button-block button-balanced button-go" ng-click="choseIcon.goPicCustom()">GO</button>
		</div>
        <pre ng-bind="choseIcon.data | json"></pre>
	</ion-content>
</ion-view>
