<!-- Chose icon Content -->
<ion-view view-title="Chose icon">
	<ion-header-bar align-title="center" class="bar-positive">
  		<i class="ion-chevron-left" ng-click="choseIcon.back()"></i>
  		<h1 class="title">funpic</h1>
	</ion-header-bar>
    <ion-content class="padding chose-icon">
		<div class="list">
            <div class="item item-divider">Moustaches</div>
            <ion-radio ng-repeat="item in choseIcon.mustaches" ng-model="item.checked" ng-value="true" name="mustaches" ng-change="choseIcon.iconsSelected(item)">
            	<img ng-src="{{ item.url }}" id="{{ item.id }}">
            </ion-radio>
            <div class="item item-divider">Chapeaux</div>
            <ion-radio ng-repeat="item in choseIcon.hats" ng-model="item.checked" ng-value="true" name="hats" ng-change="choseIcon.iconsSelected(item)">
                <img ng-src="{{ item.url }}" id="{{ item.id }}">
            </ion-radio>
            <div class="item item-divider">Lunettes</div>
            <ion-radio ng-repeat="item in choseIcon.glasses" ng-model="item.checked" ng-value="true" name="glasses" ng-change="choseIcon.iconsSelected(item)">
                <img ng-src="{{ item.url }}" id="{{ item.id }}">
            </ion-radio>
        </div>
		<div>
			<button class="button button-block button-balanced button-go" ng-click="choseIcon.goPicCustom()">GO</button>
		</div>
	</ion-content>
</ion-view>
