<!-- Chose icon Content -->
<ion-view view-title="Chose icon">
	<ion-header-bar align-title="center" class="bar-positive">
  		<i class="ion-chevron-left" ng-click="choseIcon.back()"></i>
  		<h1 class="title">funpic</h1>
	</ion-header-bar>
    <ion-content class="padding chose-icon">
		<div class="list" ng-repeat="type in choseIcon.data">
			<div class="item item-divider">
		    	{{ type.title }}
		  	</div>
			<li class="item item-toggle" ng-repeat="item in type.data">
			<img ng-src="{{ item.url }}" id="{{ item.id }}">
				<label class="toggle toggle-positive">
					<input type="checkbox" ng-change="choseIcon.change(item.id, item.url)" ng-model="choseIcon.confirmed[item.id]">
					<div class="track">
				 		<div class="handle"></div>
					</div>
				</label>
			</li>
		</div>
		<div>
			<button class="button button-block button-balanced button-go" ng-click="choseIcon.goPicCustom()">GO</button>
		</div>
		<!-- <div style="width: 90%; margin-top: 30px;" id="debug"></div> -->
	</ion-content>
</ion-view>
