<!-- Home Content -->
<ion-view view-title="home">
     <ion-pane class="padding home">
          <div class="row row-center">
               <div id="logo" class="col text-center padding">
                    <img src="img/logo-funpics.png" alt="Logo funpics"/>
               </div>
          </div>
          <div class="row row-center">
               <div class="col text-center">
                    <p class="padding text-home">Funpics vous permet de customiser vos photos en ajoutant des éléments fun.</p>
               </div>
          </div>
          <div class="row">
               <div class="col">
                    <h2 class="text-center">Commencez par ajouter une photo</h2>
                    <button class="button button-block icon ion-camera button-balanced" ng-click="home.takePicture()"></button>
                    <button class="button button-block icon ion-images button-positive" ng-click="home.takeLibrary()"></button>
               </div>
          </div>
     </ion-pane>
</ion-view>
