<!-- Home Content -->
<ion-view view-title="home">
     <ion-content class="padding">
          <div class="row row-center">
               <div id="logo" class="col text-center padding">
                    <img src="img/logo-funpics.png" alt="Logo funpics"/>
               </div>
          </div>
          <div class="row row-center">
               <div class="col text-center">
                    <p class="padding text-home">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
               </div>
          </div>
          <div class="row">
               <div class="col">
                    <h2 class="text-center">Commencez par ajouter une photo</h2>
                    <img ng-src="{{home.imgURI}}" alt="">
                    <button class="button button-block icon ion-camera button-balanced" ng-click="home.takePicture()"></button>
                    <button class="button button-block icon ion-images button-positive"></button>
               </div>
          </div>
     </ion-content>
</ion-view>
