<!-- Pic Custom Content -->
<ion-view view-title="pic custom">
     <ion-header-bar align-title="center" class="bar-positive">
          <i class="ion-chevron-left" ng-click="picCustom.back()"></i>
          <h1 class="title">funpic</h1>
     </ion-header-bar>
     <ion-content class="has-header padding pic-custom">
          <div class="row row-center">
               <div class="col text-center padding">
                    <canvas id="tempCanvas"></canvas>
               </div>
          </div>
          <div class="row">
               <div class="col">
                    <h2 class="text-center">Cette photo vous plait ?</h2>
                    <button class="button button-block button-balanced" ng-click="picCustom.show()">Enregistrer</button>
                    <button class="button button-block button-assertive" ng-click="picCustom.goHome()">Nouvelle Photo</button>
               </div>
          </div>
     </ion-content>
</ion-view>
