<!-- Pic validate Content -->
<div class="bar bar-header bar-positive">
  <h1 class="title">funpics</h1>
</div>
<ion-view view-title="pic validate">
     <ion-content class="padding pic-validate">
          <div class="row row-center">
               <div class="col text-center padding">
                    <!-- <img ng-src="img/test.png" alt=""> -->
				<img ng-src="{{imgURI}}" alt="">
               </div>
          </div>
          <div class="row">
               <div class="col">
                    <h2 class="text-center">Cette photo vous plait ?</h2>
                    <button class="button button-block icon ion-checkmark button-balanced"></button>
                    <button class="button button-block icon ion-close button-assertive" ng-click="picValidate.back()"></button>
               </div>
          </div>
     </ion-content>
</ion-view>

